/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Global */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url("../img/index-background.jpg");
  background-position-y: 56px;
  background-repeat: no-repeat;
  min-height: 100%;
}

.main-header {
  min-height: 564px;
  background-image: url("../img/welcome.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 133px;
}

.main-header-logo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}

.main-content {
  background-color: var(--basic-white);
}


.catalog-container {
  background-image: none;
}

.catalog-header {
  background-image: none;
  min-height: 100%;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.page {
  height: 100%;
  background-color: var(--basic-lightgrey);
}

.hidden {
  display: none;
}

/* Variables */
:root {
  --basic-white: #ffffff;
  --basic-lightblue: #81b3d2;
  --basic-dark: #766357;
  --basic-grey: #eeeeee;
  --basic-lightgrey: #f2f2f2;
  --basic-black: #000000;

  --special-extra-lightblue:  #669ec0;
  --special-deep-lightblue: #5496bd;
  --special-extra-dark: #604e43;
  --special-deep-dark: #503e33;
  --special-extra-lightgrey: #ebebeb;
  --special-deep-lightgrey: #e5e5e5;
  --special-neutral: #a9a9a9;
  --special-black: #333333;
  --special-darkgrey: #6a6a6a;
  --special-lightgrey: #cacaca;
  --special-deep-grey: #666666;
}

.cutter {
  position: absolute;
  transform: translateX(-50%) translateY(452px);
}

.main-definition {
  font-size: 21px;
  line-height: 26px;
  padding: 0 365px;
  padding-top: 43px;
}

.main-description {
  color: var(--special-black);
  font-weight: 400;
  padding-bottom: 51px;
  padding-top: 17px;
}

/* Main navigation */

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}


.site-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--basic-white);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-lightblue);
}

.site-navigation a:focus {
  color: var(--special-neutral);
}

.site-navigation-item {
  width: 25%;
  box-sizing: border-box;
}

.site-navigation-item:nth-child(1) {
  text-align: left;
  padding-left: 72px;
}

.site-navigation-item:nth-child(2) {
  text-align: left;
}

.site-navigation-item:nth-child(3) {
  text-align: right;
}

.site-navigation-item:nth-child(4) {
  text-align: right;
  padding-right: 72px;
}

.site-navigation-item:nth-child(5) {
  text-align: left;
  padding-left: 72px;
}

.site-navigation-item:nth-child(6) {
  text-align: left;
}

.site-navigation-item:nth-child(7) {
  text-align: right;
}

.site-navigation-item:nth-child(8) {
  text-align: right;
  padding-right: 72px;
}

/* Features */

.features-list {
  list-style: none;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.34%;
  margin: 0;
  padding: 0;
}

.feature-item h3 {
  font-size: 21px;
  color: var(--basic-white);
  margin: 0 auto;
  padding: 0;
  max-width: 150px;
  padding-top: 47px;
}

.feature-item {
  background-color: var(--basic-lightblue);
  color: var(--basic-white);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.first {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.second {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.feature-description {
  width: 33.33%;
}

.feature-image {
  flex-grow: 1;
}

.feature-number {
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.feature-clarification {
  margin: 0;
  padding: 0;
  padding: 25px 49px;
}

.second .feature-description {
  order: 2;
}

.feature-item-no-pic h3 {
  font-size: 21px;
  color: var(--basic-black);
  margin: 0 auto;
  padding: 0;
  max-width: 150px;
}

.feature-item-no-pic {
  background-color: var(--basic-grey);
  color: var(--special-black);
  font-size: 14px;
  font-weight: 400;
  height: 256px;
  box-sizing: border-box;
  padding-top: 50px;
}

.feature-item-no-pic .feature-clarification {
  padding-left: 71px;
  padding-right: 71px;
}

.subfeatures-list{
  list-style: none;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.subfeatures-item h3 {
  font-size: 21px;
  color: var(--basic-black);
  margin: 0 auto;
  padding: 0;
  padding-top: 160px;
  max-width: 150px;
}

.subfeatures-item {
  color: var(--special-black);
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.subfeatures-item .feature-clarification {
  padding-bottom: 82px;
}

.housing {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
}

.food {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center 61px;
}

.souvenirs {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center 55px;
}

/* Hotel search */

.hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 78px;
  color: var(--special-black);
  font-size: 14px;
  font-weight: 700;
}

.hotel-interest {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 24px;
}

.clarification {
  font-weight: 400;
  width: 435px;
  height: 95px;
}

.hotel-search {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  padding: 30px 0;
  box-sizing: border-box;
}

.hotel-search:hover {
  background-color: var(--special-extra-dark);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
}

.hotel-search:focus {
  background-color: var(--special-deep-dark);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.hotel-form {
  display: flex;
  flex-direction: column;
  color: var(--basic-black);
  align-items: flex-end;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  width: 568px;
}

.hotel-form article{
  margin: 0;
  margin-right: 55px;
  margin-left: 55px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.hotel-form article:first-child {
  margin-top: 55px;
}

.hotel-form article:nth-child(2) {
  margin-top: 35px;
}

.hotel-form article:nth-child(3) {
  margin-top: 30px;
  margin-left: 0px;
}

.hotel-form-arrival {
  margin-right: 23px;
}

.hotel-form-departure {
  margin-right: 20px;
}

.hotel-input-date {
  border: none;
  text-transform: inherit;
  color: var(--basic-black);
  font-weight: 700;
  background-color: var(--basic-lightgrey);
  width: 346px;
  height: 38px;
  box-sizing: border-box;
  padding-left: 13px;
}

.hotel-input-date::placeholder{
  color: var(--basic-black);
}

.hotel-input-date:hover {
  background-color: var(--special-extra-lightgrey);
}

.hotel-input-date:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-deep-lightgrey);
  outline: none;
}

.hotel-calendar {
  position: absolute;
  transform: translateX(313px) translateY(6px);
  border: none;
  background-color: transparent;
}

.hotel-calendar:hover path {
  fill: var(--basic-black);
}

.hotel-calendar:focus{
  outline: none;
}

.hotel-calendar:focus path {
  fill: var(--basic-lightblue);
}


.hotel-form-adults {
  margin-right: 42px;
}

.hotel-counter-add {
  position: absolute;
  transform: translateX(87px) translateY(11px);
  border: none;
  background-color: transparent;
}

.hotel-counter-add:focus {
  outline: none;
}

.hotel-counter-add:hover path {
  fill: var(--basic-black);
}

.hotel-counter-add:focus path {
  fill: var(--basic-lightblue);
}

.hotel-counter-del {
  position: absolute;
  transform: translateX(5px) translateY(7px);
  border: none;
  background-color: transparent;
}

.hotel-counter-del:focus {
  outline: none;
}

.hotel-counter-del:hover rect {
  fill: var(--basic-black);
}

.hotel-counter-del:focus rect {
  fill: var(--basic-lightblue);
}

.hotel-counter-wrapper:first-of-type input {
  margin-right: 53px;
}

.hotel-form-children {
  margin-right: 26px;
}

.hotel-input-people {
  text-align: center;
  width: 114px;
  height: 38px;
  box-sizing: border-box;
  border: none;
  font-weight: 700;
  background-color: var(--basic-lightgrey);
}

.hotel-input-people::placeholder{
  color: var(--basic-black);
}

.hotel-input-people:hover {
  background-color: var(--special-extra-lightgrey);
}

.hotel-input-people:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-deep-lightgrey);
  outline: none;
}

.hotel-find-button {
  color: var(--basic-white);
  background-color: var(--basic-lightblue);
  border: none;
  padding: 16px 181px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-top: 54px;
  margin-bottom: 55px;
  margin-right: 55px;
  width: 458px;
  text-transform: uppercase;
}

.hotel-find-button:hover{
  background-color: var(--special-extra-lightblue);
}

.hotel-find-button:focus{
  background-color: var(--special-deep-lightblue);
  mix-blend-mode: normal;
  opacity: 0.3;
}


/* Hotel filter */

.hotel-filter {
  color: var(--basic-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-lightblue);
  background-image: url("../img/index-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.hotel-filter-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  padding-left: 72px;
  padding-bottom: 32px;
}

.hotel-fieldset {
  border: none;
}

.housing-type {
  padding-left: 119px;
}

.cost-per-day {
  padding-left: 394px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hotel-filter-legend {
  font-weight: 700;
  font-size: 16px;
  padding-top: 27px;
}

.hotel-filter-feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hotel-filter-feature-list li {
  padding-top: 25px;
}

.hotel-show {
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  width: 137px;
  height: 36px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

/* Hotel results */

.hotel-results {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hotel-results-found {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  padding-left: 73px;
}

.sort-menu {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-start;
}

.hotel-results-sort {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 46px;
  padding-right: 610px;
  padding-top: 31px;
  padding-bottom: 31px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

.sort-by {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.price {
  color: var(--basic-lightblue);
}

.category {
  border-bottom: 1px dashed var(--basic-black);
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.category:hover {
  border-bottom: 1px dashed var(--basic-lightblue);
  color: var(--basic-lightblue);
  opacity: 1;
}

.category:focus {
  border-bottom: none;
  color: var(--basic-black);
  opacity: 1;
}

.hotel-results-list {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1;
}

.hotel-results-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: 1px solid var(--special-deep-lightgrey);
  margin: 0;
  padding: 0;
  padding-left: 73px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}


.hotel-results-item article {
  text-align: left;
  margin: 0;
  padding: 0;
  padding-left: 29px;
  flex-grow: 1;
}

.hotel-prestige {
  text-align: right;
  margin: 0;
  padding: 0;
  padding-right: 73px;
  display: flex;
  flex-direction: column;
}

.hotel-rating {
  margin: 0;
  padding: 0;
  background-color: var(--basic-lightgrey);
  color: var(--special-deep-grey);
  padding: 3px 15px;
}

.hotel-stars {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

.hotel-header {
  font-size: 21px;
  line-height: 26px;
}

.hotel-controls {
  margin: 0;
  padding: 0;
}

.hotel-browse {
  background-color: var(--basic-lightblue);
  color: var(--basic-white);
  font-weight: 700;
  padding: 3px 16px;
}

.hotel-browse:hover {
  background-color: var(--special-extra-lightblue);
}

.hotel-browse:focus {
  background-color: var(--special-deep-lightblue);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.hotel-book {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  font-weight: 700;
  padding: 3px 16px;
}

.hotel-book:hover {
  background-color: var(--special-deep-dark);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* Footer */

.main-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}


.footer-contacts {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  width: 33.3%;
  box-sizing: border-box;
}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: none;
}

.footer-socials {
  margin: 0;
  padding: 0;
  width: 33.3%;
  padding-left: 125px;
  box-sizing: border-box;
}

.footer-socials ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-lightblue);
  color: var(--basic-white);
  text-decoration: none;
  margin: 0 3px;
}

.social-button:hover {
  background-color: var(--special-extra-lightblue);
}

.social-button:focus {
  background-color: var(--special-deep-lightblue);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  width: 33.3%;
  box-sizing: border-box;
}

.footer-copyright a {
  color: var(--basic-black);
}

.footer-copyright a:hover {
  color: var(--basic-lightblue);
}

.footer-copyright a:focus {
  color: var(--special-lightgrey);
}

.footer-copyright-logo {
  padding-left: 8px;
}

.footer-copyright-logo:hover path {
  fill: var(--basic-lightblue);
}

.footer-copyright-logo:focus path {
  fill: var(--special-lightgrey);
}
