/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Global */

.container {
  min-width: 1200px;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  box-shadow: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url("../img/index-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  padding-left: 40px;
  padding-right: 40px;
}

.catalog-container {
    background-image: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.hidden {
  display: none;
}

/* Variables */
:root {
  --basic-white: #ffffff;
  --basic-lightblue: #81b3d2;
  --basic-dark: #766357;
  --basic-grey: #eeeeee;
  --basic-lightgrey: #f2f2f2;
  --basic-black: #000000;

  --special-extra-lightblue:  #669ec0;
  --special-deep-lightblue: #5496bd;
  --special-extra-dark: #604e43;
  --special-deep-dark: #503e33;
  --special-extra-lightgrey: #ebebeb;
  --special-deep-lightgrey: #e5e5e5;
  --special-neutral: #a9a9a9;
  --special-black: #333333;
  --special-darkgrey: #6a6a6a;
  --special-lightgrey: #cacaca;
}

.description {
  color: var(--special-black);
  font-weight: 400;
}


/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-lightblue);
}

.site-navigation a:focus {
  color: var(--special-neutral);
}

.welcome-logo {
  margin-top: 62px;
}

/* Features */

.features-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 586px 256px 256px;
}

.feature-item h3 {
  padding-top: 50px;
  font-size: 21px;
  color: var(--basic-white);
}

.feature-item {
  background-color: var(--basic-lightblue);
  color: var(--basic-white);
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}

.first {
  grid-column: 1 / -1;
}

.second {
  grid-column: 1 / -1;
}

.first .feature-description {
  float: left;
}

.second .feature-description {
  float: right;
}


.feature-item-no-pic h3 {
  font-size: 21px;
  color: var(--basic-black);
}

.feature-item-no-pic {
  background-color: var(--basic-grey);
  color: var(--special-black);
  font-size: 14px;
  font-weight: 400;
  height: 256px;
  padding-top: 47px;
  padding-bottom: 54px;
  box-sizing: border-box;
}

.subfeatures-list{
  list-style: none;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 330px;
}

.subfeatures-item h3 {
  font-size: 21px;
  color: var(--basic-black);
}

.subfeatures-item {
  color: var(--special-black);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 82px;
  padding-top: 60px;
  box-sizing: border-box;
}

/* Hotel search */

.hotel h2 {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  padding-top: 30px;
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 30px;
  margin:auto;
  box-sizing: border-box;
}

.hotel h2:hover {
  background-color: var(--special-extra-dark);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
}

.hotel h2:focus {
  background-color: var(--special-deep-dark);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.hotel {
  margin-top: 58px;
  color: var(--special-black);
  font-size: 14px;
  font-weight: 700;
}

.hotel-interest {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 24px;
}

.clarification {
  margin: auto;
  margin-bottom: 24px;
  font-weight: 400;
  width: 435px;
  height: 95px;
}

.hotel-find-button {
  color: var(--basic-white);
  background-color: var(--basic-lightblue);
  border: none;
  width: 458px;
  height: 58px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 133px;
}

.hotel-find-button:hover{
  background-color: var(--special-extra-lightblue);
}

.hotel-find-button:focus{
  background-color: var(--special-deep-lightblue);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* Hotel filter */

.hotel-filter {
  color: var(--basic-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-lightblue);
  background-image: url("../img/index-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.hotel-fieldset {
  border: none;
}

.hotel-filter-legend {
  font-weight: 700;
  font-size: 16px;
}

.hotel-filter-feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-show {
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  width: 137px;
  height: 36px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

/* Hotel results */
.hotel-results-found {
  font-size: 21px;
  line-height: 26px;
}

.hotel-results-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-by {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.price {
  color: var(--basic-lightblue);
}

.category {
  border-bottom: 1px dashed var(--basic-black);
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.category:hover {
  border-bottom: 1px dashed var(--basic-lightblue);
  color: var(--basic-lightblue);
  opacity: 1;
}

.category:focus {
  border-bottom: none;
  color: var(--basic-black);
  opacity: 1;
}

.hotel-results-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: 1px solid var(--special-deep-lightgrey);
}

.hotel-header {
  font-size: 21px;
  line-height: 26px;
}

.hotel-rating {
  background-color: var(--basic-lightgrey);
  width: 110px;
  height: 27px;
}

.hotel-browse {
  width: 110px;
  height: 27px;
  background-color: var(--basic-lightblue);
  color: var(--basic-white);
  font-weight: 700;
}

.hotel-browse:hover {
  background-color: var(--special-extra-lightblue);
}

.hotel-browse:focus {
  background-color: var(--special-deep-lightblue);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.hotel-book {
  width: 142px;
  height: 27px;
  background-color: var(--basic-dark);
  color: var(--basic-white);
  font-weight: 700;
}

.hotel-book:hover {
  background-color: var(--special-deep-dark);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  grid-column: 1/2;
}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: none;
}

.footer-socials {
  grid-column: 2/3;
}

.footer-socials ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button {
  background-color: var(--basic-lightblue);
  color: var(--basic-white);
  text-decoration: none;
}

.social-button:hover {
  background-color: var(--special-extra-lightblue);
}

.social-button:focus {
  background-color: var(--special-deep-lightblue);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.footer-copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  grid-column: 3/4;
}

.footer-copyright a {
  color: var(--basic-black);
}

.footer-copyright a:hover {
  color: var(--basic-lightblue);
}

.footer-copyright a:focus {
  color: var(--special-lightgrey);
}
